body{
    background-color: #000000;
    margin: 0 auto;
    max-width: 960px;
    min-width: 320px;
    font-family: 'Source Code Pro', monospace;
    line-height: 2em;
}

main{
    padding-top:100px;
}

p{
    color: white;
    font-family: 'Source Code Pro', monospace;
}

nav ul li {
    overflow: hidden;
  }
li{
    list-style: none;
}


/* TOP MENU AND FOOTER */

#menu-wrap{
    color: white;
    font-family: 'Source Code Pro', monospace;
    background-color: rgb(0,0 ,0, .7);
    align-items: center;
    max-width: 960px;
    justify-content: space-around;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
}
#menu-wrap .toggler{
    position: absolute;
    top:0;
    right:0;
    z-index:2;
    cursor:pointer;
    width: 50px;
    height: 50px;
    opacity:0;
}

#menu-wrap .hamburger{
    position: absolute;
    top:0;
    right:0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu-container{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

.menu-items{
    color: white;
    font-family: 'Source Code Pro', monospace;
    padding: 10px;
    text-decoration: none;
}

.menu-items a:hover{
    color: paleturquoise;
    text-decoration: underline;
}

  @media only screen and (max-width: 640px){
  
    .hidden {
      overflow: hidden;
 

    .hidden a:before {
        content: '\2630';
        font-size: 24px;
      }

  }
  


footer {
	height: 50px;
	background-color: #494949;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	position: fixed;
	width: 100%;
}




/* MAIN CONTENT */

#about{
    width: 80%;
    line-height: 2em;
    max-width: 960px;
    font-size: 12px;
    margin: 0 auto;
}