:root{
    --body-font: "new order";
    --header-font: "new-order"
}
a{
    text-decoration: none;
}
.hidden{
    opacity: 0
}
/* START FONTS */

h1, .h1{
    font-family: var(--header-font);
    font-size: 32px;

}
h2, .h2{
    font-size: 28px
}
h3, .h3{
    font-size: 24px;
}
h4, .h4{
    font-size: 22px;
}
p{
    font-size: 16px
}



/* END FONTS */

.main-horz-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    height: 100vh;
}
.main-nav-item {
    font-size: 3rem;
  margin:0;
  cursor: pointer;
  padding: 0 .1em;
    font-family: var(--body-font);
    text-transform: uppercase;
    letter-spacing: .2em;
    --b: 0.1em;   /* the thickness of the line */
    --c: #c11010; /* the color */
    
    color: #000;
    padding-block: var(--b);
    background: 
      
      linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
.main-nav-item:hover{
    font-size: 1.05em;
    
  --_p: 100%;
  --_s: .3s;
}
.nav-top-left,
.nav-top-right,
.nav-bottom-left,
.nav-bottom-right,
.nav-top,
.nav-bottom,
.nav-left,
.nav-right{
    position: fixed;
    min-width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.nav-top-left{
    top: 0;
    left: 0;
}
.nav-top-right{
    top: 0;
    right: 0px;
}
.nav-bottom-left{
    bottom: 0;
    left: 0;
}
.nav-bottom-right{
    bottom: 0;
    right: 0px;
}
.nav-top{
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.nav-right{
    top: 50%;
    right: 0;
    transform: translateY(-50%)
}
.nav-bottom{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
    
}
.nav-left{
    top: 50%;
    left: 0;
    transform: translateY(-50%)
}
img.hero-image {
    margin: 0 auto;
    max-height: 100vh;
}

/* START INTRO SECTION */
#intro{
    z-index:-9;
}
.intro-wrapper{
    height: 100vh;
    z-index:-1;
    display: flex;
    align-items: center;
}
.hero-image-wrapper{
    width: 100vw;
    height: 100vh;
    opacity: .4;
    background-size: cover;
}

/* END INTRO SECTION */