@tailwind base;
@tailwind components;
@tailwind utilities;

.main-horz-container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    height: 100vh;
}